
@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');


body{

    font-family: "Sarala", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: linear-gradient(45deg, cyan, yellow);
}


h1{

    text-align: center;
}

form{

            background-color: rgba(0, 0, 0, 0.9);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            /*
            
                A propriedade CSS transform permite modificar o espaço coordenado do modelo de formatação CSS. Usando-a, elementos podem ser traduzidos, rotacionados, ter seu tamanho ajustado e inclinados de acordo com os valores definidos.
            */
            padding: 50px;
            border-radius: 15px;
            color: #fff;
}


div{


    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
}



label{
        font-size: 16pt;
        padding-bottom: 100px;
   
}

.campo1{

        padding-right: 20px;
        border-radius: 20px;
        height: 20px;
}

.botao{
    background-color: dodgerblue;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    
}
.botao:hover{
    background-color: deepskyblue;
    cursor: pointer;
}
